################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiTesting/.vs/
/ApiTesting/ApiTesting/obj
/ApiTesting/ApiTesting/bin
*.user
